body{

	height:100%;
    width:100%;
    margin:0;
    padding:0;
}
img{
	max-width: 100%;
	position: center;
}
button{
	max-width: 100%;
	display: inline-block;
	margin-bottom: -150px;
}
input {
	max-width: 80%;
}

h1 {font-family:verdana; font-size:28px; color:tomato; text-align:center;}
h2 {font-family:verdana; font-style:italic; font-size:12px;}
h3 {font-family:verdana; font-style:italic; font-size:12px;}

.container{
	width:100%;	
}
.topo{
	background-color: slateblue;
	overflow-x: auto;
	width:100%;
}

.corpo{
	background-color:hsla(9, 80%, 64%, 0.25);
	height: 100vh;
	max-width:100%;
	margin-top: -12px;
	text-align: center;
}
#mensagem{
	visibility:hidden;
  	padding-top: 0px;
  	text-align: left;
  	padding-left: 12px;
}
.logo {
	position: relative;
	padding-top: 120px;
	max-width: 70%;
	max-height: 50%
	text-align: center;
	margin:0 auto;
}
#logo {
	position: relative;
	width:360px;
	height:122px;
	bottom:40px;
}
.botoes {
	position: absolute;
	padding-bottom: 20px;
	right:0px;
	left: 0px;
	bottom: 40px;
}
#mobile {
	font-family: fantasy;
	font-style: italic;
	font-size: 20px;
	color: white;
	width: 170px;
	height: 130px;
	background-color: rgba(126, 176, 45, 0.6);
	border:none;
	margin-right: 18px;
	margin-bottom: 18px;
}
#mobile:hover{
	width: 175px;
	height: 135px;
	background-color: rgba(126, 196, 45, 0.6);
}

#web {
	font-family: fantasy;
	font-style: italic;
	font-size: 20px;
	color: white;
	width: 170px;
	height: 130px;
	background-color: rgba(208, 32, 25, 0.6);
	border:none;
	margin-right: 18px;
}
#web:hover{
	width: 175px;
	height: 135px;
	background-color: rgba(228, 32, 25, 0.6);
}
#data {
	font-family: fantasy;
	font-style: italic;
	font-size: 20px;
	color: white;
	width: 170px;
	height: 130px;
	background-color: rgba(16, 102, 194, 0.6);
	border:none;
	margin-right: 18px;
	margin-bottom: 18px;
}
#data:hover{
	width: 175px;
	height: 135px;
	background-color: rgba(16, 102, 214, 0.6);
}
.turma{
	position:absolute;
	right: 12px;
	bottom: -82px;
}
.rodape {
	object-position: absolute;
	display: inline-block;
    margin-bottom:0;
    max-width:100%;
    width:100%;
	background-color:rgba(160, 160, 160, 0.5);
}
.email {
	max-width: 100%;
	margin-bottom: 40px;
	margin-top: 40px;
	text-align: center;
}
#email {
	width: 450px;
	height:25px;
}
#enviar {
	height:31.4px;
	width: 65px;
	max-width: 100%;
	color:white;
	font-weight:bold;
	background-color: tomato;
	margin-left: -4px;
}
